# Python cache
__pycache__/
*.pyc

# virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# root zip file
/data1.zip

# ignore all data subfolders/files by default
/data/*
/data1/

# keep only data/output
!/data/output/
!/data/output/**
!/data/logs/
!/data/logs/**